.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 1%;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  